.env
test_data/
data/
_pycache_
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
test.ipynb
results/
prompts/
.idea
src/process_xlsx.log
test_xlsx_files/
test_script.py
uv.lock
test_utils.py
process_xlsx_full_results_temp.xlsx

# Docker
Dockerfile*
docker-compose*
compose*
.dockerignore

README.md